.mark {
    font-family: Arial, sans-serif;
    width: 100%;
    /* padding: 0 1rem; */
    border-spacing: 0;
    color: var(--table-fg-color);
  }
  
  .mark th,
  .mark td {
    padding: 8px;
  }
  
  .mark th {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-fg-color);
  }
  
  .mark tr:nth-child(even) td {
    background-color: var(--table-even-row-bg-color);
  }
  
  .mark tr:hover td {
    background-color: var(--table-hover-row-bg-color);
  }
  
  .mark a {
    color: var(--card-btn-background-hex);
    text-decoration: underline;
  }
  
  .mark *:not(code) {
    line-height: 1.8;
  }
  
  .mark code {
    line-height: 1.2;
  }

.codeWrapper {
  position: relative;
}

.copyButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
}

.codeWrapper:hover .copyButton {
  opacity: 1;
}

.copyButton:hover {
  background-color: #45a049;
}

.copyButton.copied {
  background-color: #45a049;
}

.copyButton svg {
  width: 20px;
  height: 20px;
}

.tooltip {
  position: absolute;
  top: 40px;
  right: 5px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}